// Main Stylesheet
// Color Palette
$bg: antiquewhite;

// Typography
body {
   background: $bg;
   margin: 0 auto;
}

h1 {
   color: hsl(336, 44%, 65%);
   font-family: 'Arvo';
}

p {
   font-family: 'Oswald';
}

// Video Player Styling
video {
   max-width: 100%;
   width: 100%;
}